$custom-color: markboot !default;

$dark-mode    : ture !default;
$uitl-handler : false !default;


// reponsive settings
$xxl-size               : false !default;
$gap-col-and-row        : false !default;
$percentage-system      : ture  !default;
$reponsive-flex-dir     : false !default;
$reponsive-height       : false !default;
$reponsive-grid         : false !default;
$reponsive-width        : false !default;
$reponsive-font         : ture  !default;
$reponsive-margin       : false !default;
$reponsive-padding      : false !default;
$reponsive-display      : false !default;
$reponsive-alignments   : true  !default;